@page
@model RoleBasedSalarySystem.Client.Pages.Employees.IndexModel

<br/>
<div class="container row p-0 m-0">
    <div class="col-9">
        <h2 class="text-info">Employee List</h2>
    </div>
    <div class="col-3">
        <a asp-page="Upsert" class="btn btn-info form-control text-white">Add New Employee</a>
    </div>

    <div class="col-12 border p-3 mt-3">
        <form method="post">
            @if (Model.Employees.Count() > 0)
            {
                <table class="table table-striped border">
                    <tr class="table-secondary">
                        <th>
                            <label asp-for="Employees.FirstOrDefault().FirstName">First Name</label>
                        </th>
                        <th>
                            <label asp-for="Employees.FirstOrDefault().LastName">Last Name</label>
                        </th>
                        <th>
                            <label asp-for="Employees.FirstOrDefault().ProfilePictureUrl">Picture</label>
                        </th>
                        <th>
                            Actions
                        </th>
                    </tr>
                    @foreach(var emp in Model.Employees)
                    {
                        <tr>
                            <td>@Html.DisplayFor(e => emp.FirstName)</td>
                            <td>@Html.DisplayFor(e => emp.LastName)</td>
                            <td>@Html.DisplayFor(e => emp.ProfilePictureUrl)</td>
                            <td>
                                <button asp-page-handler="Delete" asp-route-id="@emp.Id" onclick="return confirm('Are you sure you want to delete?')" class="btn btn-danger btn-sm">Delete</button>
                                <a asp-page="Upsert" asp-route-id="@emp.Id" class="btn btn-success btn-sm text-white" style="cursor: pointer">Edit</a>
                            </td>
                        </tr>
                    }
                </table>
            }
            else
            {
                <p>No employees available.</p>
            }
        </form>
    </div>
</div>